.footer {
	   padding: 10;
}
.left {
	display: inline-block;
	float: left;

}

.right {
	display: inline-block;
	float: right;

}

.pic img {
	height: 250px;
	margin-top: 15px;
	padding-bottom: 22px;
}

.pic {
	margin-left: 15%;
	float: left;
	text-align: center;
}
